@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    @if (Model.Name is not null)
    {
        <sl-alert open>
            <sl-icon slot="icon" name="info-circle"></sl-icon>
            Your name is @Model.Name
        </sl-alert>
    }

    <form method="post" asp-page="Index" class="my-3">
        <sl-input label="What is your name?"
                  type="text"
                  asp-for="Name"
                  help-text="ex. Alex Murphy"
                  required
                  autofocus>
        </sl-input>
        <sl-button class="mt-2" variant="primary" type="submit">Submit</sl-button>
    </form>
</div>

@section headScripts
{
    <script type="module">
          /* note: this will block rendering if forget
             using a mentioned custom component. 
           ex. sl-not-a-real-component */
          await Promise.allSettled([
            customElements.whenDefined('sl-input'),
            customElements.whenDefined('sl-button'),        
          ]);
              
          document.body.classList.add('ready');
    </script>
}